.auth-container {
    display: flex;
    padding: 20px 40px 0px 140px;
    justify-content: center;
    background: url(~core/assets/images/auth-background.svg) no-repeat bottom;
    background-size: 100%;
}

.auth-info {
    margin-right: 100px;
}

.auth-info-title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.005em;
    color: #263238;
}

.auth-info-subtitle {
    margin-top: 15px;
    margin-bottom: -40px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.005em;
    color: #9E9E9E;
}

.auth-image {
    width: 410px;
    height: 410px;
    margin: 0;
}

@media (max-width: 768px) {
    .auth-info {
        display: none;
    }

    .auth-content {
        margin-right: 80px;
    }
}

@media (max-width: 576px) {
    .auth-container {
        margin: 0px;
        margin-left: 80px;
        padding: 40px 0px 0px 0px;
    }
}